<%- include("../includes/head.ejs") %>
</head>

<body>
  <main class="main-area">
    <%- include("../includes/navigation.ejs") %>
    <div class="container">
      <form action="/neues_rezept" method="post">
        <label for="rezeptName">Rezeptnamen eingeben</label>
        <input type="text" name="rezeptName" id="rezeptName">
        <button type="submit">Rezept suchen</button>
      </form>
    </div>
  </main>
</body>

</html>
