  <%- include("../includes/head.ejs") %>
  <link rel="stylesheet" href="/css/recipe-details.css" />
  </head>

  <body>
    <div class="container main-area">
      <div class="row">
        <%- include("../includes/h1-heading.ejs") %>
      </div>

      <div class="headArea row">
        <%- include("../includes/navigation.ejs") %>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="contact-form col-md-6 col-12">
          <form action="/neuer_kontakt" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />        
            <button class="btn" type="submit">Namen senden</button>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </body>

</html>
