<%- include("./includes/head.ejs") %>
  </head>
  <body>
    <main class="main-area">
      <%- include("./includes/navigation.ejs") %>
      <form action="/neuer_kontakt" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"/>

        <button type="submit">Namen senden</button>
      </form>
    </main>
  </body>
</html>
