<header class="headArea">
  <nav class="main-menu">
    <ul class="menu">
      <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Startseite</a></li>
      <li><a class="<%= path === '/getRecipe' ? 'active' : '' %>" href="/getRecipe">Rezept suchen</a></li>
      <li><a class="<%= path === '/addRecipe' ? 'active' : '' %>" href="/addRecipe">Rezept hinzufügen</a></li>      
      <li><a class="<%= path === '/contact' ? 'active' : '' %>" href="/contact">Kontakt</a></li>
    </ul>
  </nav>
</header>