<header class="headArea">
  <nav class="main-menu">
    <ul class="menu">
      <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Startseite</a></li>
      <li><a class="<%= path === '/rezept-suchen' ? 'active' : '' %>" href="/rezept-suchen">Rezept suchen</a></li>
      <li><a class="<%= path === '/rezept-anlegen' ? 'active' : '' %>" href="/rezept-anlegen">Rezept anlegen</a></li>      
      <li><a class="<%= path === '/kontakt' ? 'active' : '' %>" href="/kontakt">Kontakt</a></li>
    </ul>
  </nav>
</header>