<%- include("./includes/head.ejs") %>
  </head>
  <body>
    <%- include("./includes/navigation.ejs") %>
    <main class="main-area">
      <h1>Kontaktseite</h1>
      <form action="/neuer_kontakt" method="POST">
        <label for="newName">Name</label>
        <input type="text" name="newName" id="newName"/>

        <button type="submit">Namen senden</button>
      </form>
    </main>
  </body>
</html>
