<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="headArea">
      <nav class="main-menu">
        <ul class="menu">
          <li class="active"><a href="/"><%= pageTitle %></a></li>
          <li><a href="/contact">Kontakt</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-area">
      <% if (perso.length > 0) { %>
        <% perso.forEach(item => { %>
          <h1>Hallo, <%= item.personName  %></h1>
        <% }); %>  
      <% } else { %>     
        <h1>Nix da!</h1>
      <% }%>   
    </main>
  </body>
</html>
