<%- include("./includes/head.ejs") %>
  </head>
  <body>
    <%- include("./includes/navigation.ejs") %>
    <main class="main-area">
      <% if (perso.length > 0) { %>
        <% perso.forEach(item => { %>
          <h1>Hallo, <%= item.personName  %></h1>
        <% }); %>  
      <% } else { %>     
        <h1>Nix da!</h1>
      <% }%>   
    </main>
  </body>
</html>
