#recipe-detailed .main-content {
  margin: 0 auto;
  width: 75%;
}

/* Tiles in Overview should all have eual heights */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row-eq-height > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.row-eq-height > .recipe-item > .recipe-item-inner {
  height: 100%;
}

/* Recipe Tiles */
.recipe-item-inner {
  margin: 10px;
  padding: 20px;
  border: 2px solid rgba(188, 63, 131, 0.5);
  border-radius: 20px;
  background-color: rgba(188, 63, 131, 0.2);
}

.detailed-recipe-image {
  display: flex;
}
.detailed-recipe-image img {
  max-width: 100%;
  margin: 0 auto;
}

.recipe-image img {
  width: 100%;
}

.recipe-instructions {
  margin: 5% 0;
}

.recipe-instructions h2 {
  text-align: left;
  padding: 10px 0px;
}

.detail-button {
  margin: 5%;
  text-align: center;
}

.detail-button .btn {
  background-color: #6051c5;
}
