.detailed-recipe-image {
  display: flex;
}
.detailed-recipe-image img {
  max-width: 50%;
  margin: 0 auto;
}

.recipe-image img {
  width: 100%;
}

.detail-button {
  margin: 5%;
  text-align: center;
}

.detail-button .btn {
  background-color: #6051c5;
}
